[package]
name = "embeddenator-fs"
version = "0.1.0"
edition = "2021"
authors = ["Tyler Zervas <tz-dev@vectorweight.com>"]
description = "EmbrFS: FUSE-based holographic filesystem"
license = "MIT"
repository = "https://github.com/tzervas/embeddenator-fs"
keywords = ["embeddenator", "fuse", "filesystem", "holographic"]
categories = ["filesystem", "os"]

[features]
default = []
fuse = ["fuser"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
arc-swap = "1.8.0"
rustc-hash = "2.1.1"
fuser = { version = "0.16", optional = true }
libc = "0.2"

# TODO: Add component dependencies once git tags are set up
# embeddenator-vsa = { git = "https://github.com/tzervas/embeddenator-vsa", tag = "v0.1.0" }
# embeddenator-retrieval = { git = "https://github.com/tzervas/embeddenator-retrieval", tag = "v0.1.0" }
# embeddenator-io = { git = "https://github.com/tzervas/embeddenator-io", tag = "v0.1.0" }

[dev-dependencies]
proptest = "1.0"
tempfile = "3.13"
